<nav id="sidebar-menu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" id="nav-dashboard" href="/dashboard">
          <span class="menu-title">Overview</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="nav-class" href="/classes">
          <span class="menu-title">Classes</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="nav-lecture" href="/lectures">
          <span class="menu-title">Lectures</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="nav-students" href="/Students">
          <span class="menu-title">Students</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="nav-profile" href="/profile">
          <span class="menu-title">Profile</span>
        </a>
      </li>

    </ul>
  </div>
</nav>