<nav id="sidebar-menu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link active" href="/tutor/dashboard">
          <span class="menu-title">Overview</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tutor/classes">
          <span class="menu-title">Classes</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tutor/lectures">
          <span class="menu-title">Lectures</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tutor/Students">
          <span class="menu-title">Students</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tutor/profile">
          <span class="menu-title">Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/tutor/log-out">
          <span class="menu-title">Log out</span>
        </a>
      </li>

    </ul>

  </div>
</nav>