<!-- Required meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Virtual class</title>



 <link rel="stylesheet" href="http://localhost:5000/vendors/feather/feather.css">
<!--<link rel="stylesheet" href="http://localhost:5000/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="http://localhost:5000/vendors/css/vendor.bundle.base.css">

<link rel="stylesheet" href="http://localhost:5000/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="http://localhost:5000/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="http://localhost:5000/js/select.dataTables.min.css">

<link rel="stylesheet" href="http://localhost:5000/css/vertical-layout-light/style.css">

<link rel="shortcut icon" href="http://localhost:5000/images/favicon.png" /> -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:5000/css/main.css">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>