<div id="right-sidebar">
  

<div id="modal-bg">
  <div class="modal">
    <div class="modal-header">
      <h2>Student Information</h2>
      <i class="settings-close ti-close" onclick="closeModal()"></i>
    </div>
    <div class="modal-body">
      <div class="fm-control">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" placeholder="Enter your email here">
      </div>
      <div style="margin-top: 20px;">
        <button id="editAdmin-but" class="but" onclick="editAdmin()">UPDATE</button>
        <button class="but1" onclick="closeModal()">CANCEL</button>
      </div>
    </div>
  </div>
</div>