<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="container-fluid dash-container">
    <div class="row">
      <%- include('../partials/dashboard-sidebar'); %>

        <main id="dash-main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <div class="dash-main-cont">
            <h2 class="dash-main-title">Classes</h2>
            <button>Create class</button>
          </div>

          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Tutor</th>
                <th>Students</th>
                <th>Lectures</th>
                <th width="80"></th>
                <th width="90"></th>
              </tr>
            </thead>
            <tbody id="admins-table">
              <tr>
                <td>{{Name}}</td>
                <td>{{Tutor}}</td>
                <td>{{Students}}</td>
                <td>{{Lectures}}</td>
                <td><button>View</button></td>
                <td><button>Delete</button></td>
              </tr>
              <tr>
                <td>{{Name}}</td>
                <td>{{Tutor}}</td>
                <td>{{Students}}</td>
                <td>{{Lectures}}</td>
                <td><button>View</button></td>
                <td><button>Delete</button></td>
              </tr>
            </tbody>
          </table>
        </main>

    </div>
  </div>

</body>

</html>