<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="hero">
    <div class="jumbotron container">
      <h1>Enjoy Classes remotely</h1>
      <h2>Connecting amazing tutors and students..</h2>

      <a href="/sign-up">
        <button>Join now</button>
      </a>
    </div>
  </div>
  <main>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>