<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header', {user}); %>
  </header>

  <div class="container-fluid dash-container">
    <div class="row">
      <%- include('../partials/dashboard-sidebar', {user}); %>

        <main id="dash-main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <div class="dash-main-cont">
            <h2 class="dash-main-title">Profile</h2>
          </div>

          <form class="profile-form" action="">
            <div class="fm-control">
              <label for="name">Full name</label>
              <input id="name" type="text" name="name" placeholder="Enter your name here">
            </div>
            <div class="fm-control">
              <label for="email">Email</label>
              <input id="email" type="text" name="email" placeholder="Enter your email here">
            </div>
            <div class="fm-control">
              <label for="password">Password</label>
              <input id="password" type="password" name="password" placeholder="Enter your password here">
            </div>
            <div class="fm-control">
              <label for="role">Role</label>
              <input id="role" type="text" name="role" disabled value="Tutor">
            </div>
            <br>
            <button>Update Profile</button><br>
          </form>
        </main>

    </div>
  </div>

  <%- include("../partials/dashboard-scripts"); %>

</body>

</html>