<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <form class="auth-form" action="">
      <div class="form-control">
        <input type="text" name="email" placeholder="Enter your email here">
      </div>
      <div class="form-control">
        <input type="password" name="password" placeholder="Enter your password here">
      </div>
      <div class="form-control">
        <input type="text" name="name" placeholder="Enter your name here">
      </div>
      <button id="buy-bnbc" class="color-1">Buy</button><br>
    </form>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>