<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="container-fluid dash-container">
    <div class="row">
      <%- include('../partials/dashboard-sidebar'); %>

        <main id="dash-main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

          <div class="dash-main-cont">
            <h2 class="dash-main-title">Students</h2>
            <button>#AHU-637</button>
          </div>

          <table>
            <thead>
              <tr>
                <th>Student</th>
                <th>Class</th>
                <th>Status</th>
                <th>Attendance</th>
                <th width="80"></th>
                <th width="90"></th>
              </tr>
            </thead>
            <tbody id="admins-table">
              <tr>
                <td>{{Student}}</td>
                <td>{{Class}}</td>
                <td>{{Status}}</td>
                <td>{{Attendance}}</td>
                <td><button>View</button></td>
                <td><button>Remove</button></td>
              </tr>

            </tbody>
          </table>
        </main>

    </div>
  </div>

</body>

</html>